body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  background: linear-gradient(to right, #9d50bb, #6699ff);
  min-height: 100vh;
  padding: 20px;
}

.Home {
  text-align: center;
  padding: 20px;
  background-color: #F0F0F0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.content-container2 {
  margin-top: 20px;
}

.intro {
  max-width: 800px;
}

.homebutton {
  padding: 12px 28px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: purple;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-top: 50px;
  transition: background-color 0.3s;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.homebutton:hover {
  background-color: #7b68ee;
}

.external-link {
  display: block;
  margin-top: 5px;
  font-size: 1.2em;
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

.external-link:hover {
  color: #7b68ee;
}

.Challenges {
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  font-family: 'Poppins', sans-serif;
}

.spaced-heading {
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.aboutheading {
  text-align: left;
  margin: 20px 0;
}

.about-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40 auto;
}

.aboutme {
  text-align: left;
  margin: 20px 0;
}

.toggle-unit-button:hover {
  background-color: #ffcc00;
}

.bullet-list2 {
  list-style-type: disc;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item {
  margin-bottom: 10px;
  text-align: center;
}

.day-container {
  padding: 20px;
  align-items: center;
}

.form-container {
  margin-top: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  width: 300px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: orange;
}

.submitted-data {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
  display: list-item; 
}

.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}

.bullet-list2 {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.bullet-list li {
  margin-bottom: 10px;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.specialization-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.specialization-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.specialization-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px; 
  width: 300px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.specialization-item strong {
  display: block;
  margin-bottom: 10px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.code-snippets {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.code-snippets h3,
.code-snippets p,
.code-snippets pre {
  text-align: center; 
}

.code-snippets pre {
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
  width: 100%; 
}

.languages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  }
  
  .language-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  }
  
  .language-card h3 {
  margin: 10px 0 5px;
  }
  
  .language-card p {
  margin: 5px 0;
  }
  
  .week-container {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 20px 0;
  max-width: 800px;
  margin: 20px auto;
  }
  
  .button2 {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
  }
  
  .button2:hover {
  background-color: #ffcc00;
  }
  
  .lifecyclebutton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  .lifecyclebutton:hover {
  background-color: orange;
  }
  
  .lifecycle {
  margin-top: 30px;
  }
  
  .button {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  }
  
  .button:hover {
  background-color: #45a049;
  }
  
  .parent {
    padding: 20px;
    margin: 20px;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: lightblue;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .child {
    padding: 20px;
    margin: 20px;
    border: 2px solid darkgreen;
    border-radius: 5px;
    background-color: lightgreen;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .parent:hover {
    background-color: lightpink;
  }
  
  .child:hover {
    background-color: lightgoldenrodyellow;
  }
  
  .input-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  .submit-button2 {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button2:hover {
    background-color: orangered;
  }
  
  .form-message {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }