.day-info {
    background-color: #f9f9f9;
    padding: 10px 20px; 
    margin: 20px auto; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
  }
  
  .day-info h3 {
    margin: 0;
  }
  
  .day-info p {
    margin: 10px 0;
  }
  
  .happy-emoji {
    margin-left: 5px;
  }
  
  .party-emoji {
    margin-left: 5px;
  }
  
  .day-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }