body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.contact-container {
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.spaced-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-details {
  margin-top: 20px;
}

.profile-image {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact-button {
  display: inline-block;
  margin: 10px;
  padding: 12px 28px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #7b68ee;
}